@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Prompt', sans-serif;
}

.ck-editor__editable_inline {
    /* @apply prose; */
    color: black;
    min-height: 32em;
    max-height: 32em;
}